<div class="about row">
    <div class="col-md-12">
        <h2>About me </h2>
        <br/>
        <p>一个来自河南特级贫困县某不知名小村庄的苦逼屌丝，这是我对自己的定义。</p>
        <p>2014年在七十多万河南考生的竞争中拼的头破血流，勉强过了一本线，考上了上海某不知名大学。</p>
        <p>浑浑噩噩的大学四年生活，平淡无奇，没有一丝波澜。</p>
        <p>大三的某一天突然厌倦了这种没有干劲的生活，我决定改变自己。从此走上编程的不归路，与Java结下了不解之缘。</p>
        <p>也许是从小到大运气都差到一定程度了，在Java学习的路上老天爷倒也是蛮照顾我的。</p>
        <p>我结识了我的师父，一个Java老司机，在他的带领下，技术还算是突飞猛进。</p>
        <p>后面工作中也认识很多很nice的朋友，很感激他们。</p>
        <p>一直想做一个博客，希望能把自己的技术分享出去，给那些后来者一些启发和帮助。也算是报答那些曾帮助过我的人。</p>
        <p>希望自己保持初心，希望自己能够一直热爱技术，热爱Java。</p>
        <p>你好，我是心安，一个屌丝程序员，一个无名之辈。</p>

        <h2>Contact me</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Github：<a href="https://github.com/XinAnzzZ">XinAnzzZ</a></li>
            <li>WebSite：<a href="http://www.yuhangma.com">http://www.yuhangma.com</a></li>
            <li>我的QQ群：<strong><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=5af77859bfdd857f1f1810990bfc261a7d7f2b04672c6e47070f84a980027570"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="NullPointerException" title="NullPointerException">36635506</a></strong></li>
        </ul>

        <p><strong>Group</strong></p>

        <ul>
            <li>Java交流群 - 36635506</li>
        </ul>


        <!--<h2>-->
        <!--Note-->
        <!--</h2>-->

        <!--<p>-->
        <!--自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。-->
        <!--</p>-->

        <!--<p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>-->

        <!--<ul>-->
        <!--<li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。-->
        <!--</li>-->
        <!--<li>如果是您的项目报错这类问题，我真的爱莫能助，大部分的情况错误信息都是需要根据本项目或者业务去调试的，仅有很少的一部分通过日志就可以定位到问题，当然这种错误网上应该都会有解决方案。-->
        <!--</li>-->
        <!--<li>如果您想和我交流框架、性能优化这种大问题，因为太大我不知道从何说起，比如：上来就问 Spring Boot/Hadoop 并发量支持多少的这类问题，真对不起，本人才疏学浅真的爱莫能助，问题越具体交流越有效。-->
        <!--</li>-->
        <!--<li> 我不一定能及时回复您，加我之后有问题尽请直说，不用问“在吗”之类的问题，当我闲下来的时候，每个人的留言，我都会尽量去回复。-->
        <!--</li>-->
        <!--<li>-->
        <!--欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="http://www.ityouknow.com/assets/images/keeppuresmile.jpg" target="_blank">博客公众号二维码</a>，谢谢。-->
        <!--</li>-->
        <!--</ul>-->

        <!--<p>-->
        <!--最后，还是感谢您在茫茫人海中阅读了我的文章。-->
        <!--</p>-->


        <h2>
            Donate
        </h2>

        <p>本站所有文章和源码均免费开放，您如果喜欢可以赞助，赞助仅表示对文章的赞赏与支持，并不会受到特殊的待遇。
        <p>

        <div style="display: inline-flex;margin-left: 290px">
            <img src="http://www.yuhangma.com/assets/images/Alipay.png"/>
            <img src="http://www.yuhangma.com/assets/images/WeChatPay.png"/>
        </div>

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>
    </div>

</div>
